section{
  opacity: 0;
  transition: all 2s ease;
}
.show{
  opacity: 1;
}
.chantranlenguyen14gmailcom,
.contact1,
.i-am-excited {
  position: absolute;
  left: calc(50% - 498px);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.contact1 {
  top: 0;
  font-size: 25px;
  width: 139px;
  height: 40px;
}
.chantranlenguyen14gmailcom,
.i-am-excited {
  top: 66px;
  width: 994px;
  height: 71px;
}
.chantranlenguyen14gmailcom {
  top: 178px;
  left: calc(50% - 496px);
  height: 24px;
}
.contact-text {
  position: absolute;
  top: 0;
  left: calc(50% - 498px);
  width: 996px;
  height: 202px;
}
.image-6-icon,
.vector-icon {
  position: absolute;
  top: 3px;
  left: calc(50% + 32.65px);
  width: 13px;
  height: 13px;
}
.image-6-icon {
  top: 0.2px;
  left: calc(50% - 45.65px);
  width: 15.8px;
  height: 15.8px;
  object-fit: cover;
  cursor: pointer;
}
.image-7-icon,
.social-icons {
  position: absolute;
  height: 16px;
  cursor: pointer;
}
.image-7-icon {
  top: 0;
  left: calc(50% - 6.35px);
  width: 16px;
  object-fit: cover;
}
.social-icons {
  top: 226px;
  left: calc(50% - 496.3px);
  width: 91.3px;
}
.contact,
.gradient {
  position: absolute;
  top: 3042px;
  left: calc(50% - 502px);
  width: 996px;
  height: 242px;
}
.gradient {
  top: 0;
  left: calc(50% - 596.65px);
  border-radius: 50%;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ac3c8d,
    rgba(102, 15, 133, 0)
  );
  width: 503px;
  height: 564px;
}
.github {
  color: var(--color-mediumvioletred-100);
}
.learn-more-on-container1 {
  width: 100%;
}
.learn-more-on-container {
  position: absolute;
  top: 380px;
  left: calc(50% + 306.35px);
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  width: 290px;
  height: 30px;
  cursor: pointer;
}
.card-icon,
.portfolio-icon {
  position: absolute;
  top: 144px;
  left: calc(50% - 432.95px);
  width: 513px;
  height: 300.1px;
  object-fit: contain;
}
.card-icon {
  top: 111px;
  left: calc(50% - 294.4px);
  width: 588.8px;
  height: 118.8px;
  object-fit: cover;
}
.alpha-beta-pruning-is {
  margin: 0;
}
.alpha-beta-pruning-is-container {
  position: absolute;
  top: 123px;
  left: calc(50% - 278px);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 549px;
  height: 95px;
}
.using {
  font-size: var(--font-size-5xl);
}
.favorite-algorithm-and,
.game-of-nim-container {
  position: absolute;
  top: 21px;
  left: calc(50% - 158px);
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 450px;
  height: 90px;
  font-size: var(--font-size-15xl);
}
.favorite-algorithm-and {
  top: 0;
  left: calc(50% - 96px);
  font-size: var(--font-size-base);
  color: var(--color-mediumorchid);
  width: 388px;
  height: 21px;
}
.portfolio-text {
  position: absolute;
  top: 150px;
  left: calc(50% + 7.95px);
  width: 588.8px;
  height: 229.8px;
  text-align: right;
  font-size: var(--font-size-mini);
  color: var(--color-lightsteelblue);
  font-family: var(--font-poppins);
}
.proj2 {
  position: absolute;
  top: 524px;
  left: calc(50% - 631.5px);
  width: 1193.3px;
  height: 564px;
}
.gradient1,
.gradient2 {
  position: absolute;
  border-radius: 50%;
}
.gradient1 {
  top: 8px;
  left: calc(50% - 199.35px);
  background: radial-gradient(
    50% 50%at 50% 50%,
    #ac3c7f,
    rgba(117, 15, 133, 0)
  );
  width: 565px;
  height: 634px;
}
.gradient2 {
  top: 0;
  left: calc(50% - 0.35px);
  background: radial-gradient(50% 50%at 50% 50%, #763cac, rgba(50, 15, 133, 0));
  width: 550px;
  height: 616px;
}
.card-icon1,
.portfolio-icon1 {
  position: absolute;
  top: 168.1px;
  left: calc(50% - 33.05px);
  width: 513px;
  height: 300.1px;
}
.card-icon1 {
  top: 315.9px;
  left: calc(50% - 549.65px);
  width: 588.8px;
  height: 106.5px;
  object-fit: cover;
}
.genetic-algorithms-are {
  position: absolute;
  top: 164.9px;
  left: calc(50% - 502.5px);
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 538.6px;
  height: 71.3px;
}
.the-tsp-solver-container {
  top: 49.9px;
  left: calc(50% - 513.5px);
  font-weight: 600;
  width: 373px;
  height: 90px;
  font-size: var(--font-size-15xl);
}
.favorite-algorithm-and1,
.learn-more-on-container2,
.the-tsp-solver-container {
  position: absolute;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
}
.favorite-algorithm-and1 {
  top: 20.9px;
  left: calc(50% - 513.5px);
  font-weight: 600;
  color: var(--color-mediumorchid);
  width: 334px;
  height: 21px;
}
.learn-more-on-container2 {
  top: 263.1px;
  left: calc(50% - 514.8px);
  font-size: var(--font-size-2xl);
  font-family: var(--font-preahvihear);
  width: 297.3px;
  height: 29.9px;
  cursor: pointer;
  color: var(--color-white);
}
.mask-group-icon {
  position: absolute;
  top: 0;
  left: calc(50% + 1.8px);
  width: 513px;
  height: 300.1px;
  object-fit: cover;
}
.proj1,
.proj1-description {
  position: absolute;
  top: 168.1px;
  left: calc(50% - 549.65px);
  width: 1029.6px;
  height: 300.1px;
}
.proj1 {
  top: 0;
  left: calc(50% - 467.8px);
  width: 1099.3px;
  height: 642px;
  font-size: var(--font-size-base);
  color: var(--color-lightsteelblue);
  font-family: var(--font-poppins);
}
.projects {
  position: absolute;
  top: 1940px;
  left: calc(50% - 664px);
  width: 1263px;
  height: 1088px;
  font-size: var(--font-size-2xl);
}
.lines-icon,
.tinyskills-icon {
  position: absolute;
  top: 161px;
  left: calc(50% - 120.55px);
  width: 246.9px;
  height: 286.5px;
}
.tinyskills-icon {
  top: 85.8px;
  left: calc(50% - 163.25px);
  width: 330px;
  height: 98.6px;
}
.ellipse-icon,
.floating-icons {
  position: absolute;
  top: 339.3px;
  left: calc(50% - 387.65px);
  width: 775.3px;
  height: 324.7px;
}
.floating-icons {
  top: 200px;
  left: calc(50% - 347.75px);
  width: 661.1px;
  height: 144.1px;
}
.that-values-learning {
  margin: 0;
  font-size: var(--font-size-mid);
}
.im-currently-looking-container {
  position: absolute;
  top: 0;
  left: calc(50% - 300.75px);
  letter-spacing: 0.02em;
  line-height: 31px;
  display: flex;
  align-items: center;
  width: 617px;
  height: 58px;
}
.logo-icon,
.skills {
  position: absolute;
  top: 447.5px;
  left: calc(50% - 40.05px);
  width: 81.1px;
  height: 63.4px;
}
.skills {
  top: 1276px;
  left: calc(50% - 378.9px);
  width: 775.3px;
  height: 664px;
  text-align: center;
  font-size: var(--font-size-5xl);
  /* opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s; */
}
.click-icon {
  position: absolute;
  top: 599px;
  left: calc(50% - 205.6px);
  width: 27px;
  height: 27px;
  overflow: hidden;
}
.learn-more-on-container4 {
  position: absolute;
  top: 582.4px;
  left: calc(50% - 500.7px);
  font-size: var(--font-size-2xl);
  letter-spacing: 0.02em;
  font-family: var(--font-preahvihear);
  display: flex;
  align-items: center;
  width: 504.3px;
  height: 33.4px;
  cursor: pointer;
}
.gradient3 {
  position: absolute;
  top: 0;
  left: calc(50% - 268.6px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #ac3c86, rgba(50, 15, 133, 0));
  width: 550px;
  height: 616px;
}
.mask-group-icon1 {
  position: absolute;
  top: 0;
  left: calc(50% - 250.8px);
  width: 501.6px;
  height: 147.9px;
}
.expbottomright-child,
.expbottomright-item {
  position: absolute;
  left: calc(50% - 250.8px);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-mini);
  width: 501.6px;
  height: 169.6px;
}
.expbottomright-child {
  top: 2.7px;
  background-color: var(--color-midnightblue);
}
.expbottomright-item {
  top: 2.6px;
  background: linear-gradient(
    149.88deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
}
.educational-research-literacy,
.summer-research-intern {
  position: absolute;
  top: 39.6px;
  left: calc(50% - 77.4px);
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 295.7px;
  height: 21.1px;
}
.educational-research-literacy {
  top: 82.4px;
  left: calc(50% - 76.5px);
  font-size: var(--font-size-5xs);
  line-height: 10.5px;
  font-weight: 500;
  width: 213px;
  height: 42.2px;
}
.icons {
  position: absolute;
  top: 43.1px;
  left: calc(50% - 197.1px);
  width: 100.3px;
  height: 85.4px;
}
.expbottomleft-item,
.expbottomright {
  position: absolute;
  top: 383.5px;
  left: calc(50% + 9.7px);
  width: 501.6px;
  height: 172.2px;
}
.expbottomleft-item {
  top: 2.6px;
  left: calc(50% - 250.8px);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-mini);
  background: linear-gradient(
    95.56deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
  height: 169.6px;
}
.on-campus-summer-internship,
.summer-tech-intern {
  position: absolute;
  top: 44px;
  left: calc(50% - 73px);
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 242.9px;
  height: 21.1px;
}
.on-campus-summer-internship {
  top: 86.8px;
  left: calc(50% - 72.1px);
  font-size: var(--font-size-5xs);
  line-height: 10.5px;
  font-weight: 500;
  width: 204.2px;
  height: 42.2px;
}
.expbottomleft-inner {
  position: absolute;
  top: 35.2px;
  left: calc(50% - 201.5px);
  width: 105.6px;
  height: 103px;
}
.expbottomleft,
.exptopright-child {
  position: absolute;
  top: 386.1px;
  left: calc(50% - 511.3px);
  width: 501.6px;
  height: 172.2px;
}
.exptopright-child {
  top: 0;
  left: calc(50% - 250.8px);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-mini);
  background: linear-gradient(
    95.56deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
  height: 169.6px;
}
.on-campus-educational-raspberr,
.raspberrypi-researcher {
  position: absolute;
  top: 40.5px;
  left: calc(50% - 79.2px);
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 293.9px;
  height: 21.1px;
}
.on-campus-educational-raspberr {
  top: 83.3px;
  left: calc(50% - 78.4px);
  font-size: var(--font-size-5xs);
  line-height: 10.5px;
  font-weight: 500;
  width: 204.2px;
  height: 42.2px;
}
.exptopright-item {
  position: absolute;
  top: 43.1px;
  left: calc(50% - 198.9px);
  width: 105.6px;
  height: 86.2px;
}
.exptopleft-child,
.exptopright {
  position: absolute;
  top: 201.3px;
  left: calc(50% + 7.9px);
  width: 501.6px;
  height: 169.6px;
}
.exptopleft-child {
  top: 0;
  left: calc(50% - 250.8px);
  box-shadow: 4px 7px 26px rgba(0, 0, 0, 0.12);
  border-radius: var(--br-mini);
  background: linear-gradient(
    110.49deg,
    #130428 7.29%,
    #251043 34.38%,
    #38126d 56.77%,
    #261045 84.9%,
    #190634
  );
}
.on-campus-first-year-resident,
.resident-assistant {
  position: absolute;
  top: 40.5px;
  left: calc(50% - 77.4px);
  line-height: 32.5px;
  font-weight: 600;
  display: inline-block;
  width: 257px;
  height: 21.1px;
}
.on-campus-first-year-resident {
  top: 83.3px;
  left: calc(50% - 76.5px);
  font-size: var(--font-size-5xs);
  line-height: 10.5px;
  font-weight: 500;
  width: 204.2px;
  height: 42.2px;
}
.exptopleft-item {
  position: absolute;
  top: 31.7px;
  left: calc(50% - 206.8px);
  width: 107.4px;
  height: 101.2px;
}
.exptopleft,
.work-experience {
  position: absolute;
  top: 201.3px;
  left: calc(50% - 511.3px);
  width: 501.6px;
  height: 169.6px;
}
.work-experience {
  top: 127px;
  left: calc(50% - 506.6px);
  font-size: 40px;
  letter-spacing: 0.02em;
  font-family: var(--font-preahvihear);
  display: flex;
  align-items: center;
  width: 390px;
  height: 64px;
}
.workexperience {
  /* transition: all 1s; */
  position: absolute;
  top: 577px;
  left: calc(50% - 497.7px);
  width: 1022.6px;
  height: 626px;
  font-size: var(--font-size-4xl);
  font-family: var(--font-poppins);
}
.as-a-motivated {
  position: absolute;
  top: 361px;
  left: calc(50% - 501.5px);
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  width: 989px;
  height: 106px;
}
.and {
  font-size: var(--font-size-5xl);
  color: rgba(255, 255, 255, 0.6);
}
.business-analytics {
  font-size: var(--font-size-13xl);
  color: var(--color-white);
}
.im-studying-computer-container {
  position: absolute;
  top: 0;
  left: calc(50% - 242.5px);
  letter-spacing: 0.02em;
  line-height: 50px;
  display: flex;
  align-items: center;
  width: 485px;
  height: 106px;
}
.depauw-university {
  color: #d7a700;
}
.at-depauw-university-container {
  position: absolute;
  top: 133px;
  left: calc(50% - 144.5px);
  font-size: var(--font-size-2xl);
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  width: 292px;
  height: 33px;
  cursor: pointer;
}
.depauwlogo-icon,
.study {
  position: absolute;
  left: calc(50% + 97.5px);
}
.depauwlogo-icon {
  top: 138px;
  width: 19.4px;
  height: 21.1px;
  object-fit: cover;
}
.study {
  top: 103px;
  width: 485px;
  height: 166px;
  font-size: var(--font-size-13xl);
}
.gradientafteravatar {
  position: absolute;
  top: 0;
  left: calc(50% - 367.5px);
  border-radius: 50%;
  background: radial-gradient(50% 50%at 50% 50%, #ac3c86, rgba(50, 15, 133, 0));
  width: 339px;
  height: 379px;
}
.is {
  color: var(--color-white);
}
.key,
.logic-is-key {
  color: var(--color-mediumvioletred-200);
}
.logic-is-key {
  margin: 0;
}
.believes-the-logic-container {
  position: absolute;
  top: 141px;
  left: calc(50% - 66.5px);
  letter-spacing: 0.02em;
  line-height: 126.66%;
  text-align: left;
  display: flex;
  align-items: center;
  width: 434px;
  height: 111px;
}
.a-coder-who {
  top: 103px;
  left: calc(50% - 68.5px);
  font-size: var(--font-size-mid);
  letter-spacing: 0.02em;
  justify-content: center;
  width: 152px;
  height: 27px;
}
.a-coder-who,
.because-if-the,
.hello-my-name-container {
  position: absolute;
  display: flex;
  align-items: center;
}
.because-if-the {
  top: 274px;
  left: calc(50% - 66.5px);
  font-size: 11px;
  letter-spacing: 0.02em;
  justify-content: center;
  width: 395px;
  height: 18px;
}
.hello-my-name-container {
  top: 23px;
  left: calc(50% - 84.5px);
  font-size: 19px;
  letter-spacing: -0.5px;
  line-height: 97px;
  width: 278px;
  height: 17px;
}
.arrow-icon {
  position: absolute;
  top: 34.3px;
  left: calc(50% - 156.5px);
  width: 68.9px;
  height: 42.1px;
}
.avatar-icon,
.key-icon {
  position: absolute;
  top: 77px;
  left: calc(50% - 322.5px);
  width: 256px;
  height: 224px;
  object-fit: cover;
}
.key-icon {
  top: 169px;
  left: calc(50% + 219.5px);
  width: 109px;
  height: 108px;
}
.circle-logic {
  position: absolute;
  top: 203px;
  left: calc(50% - 88px);
  border-radius: 50%;
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 134.5px;
  height: 51.8px;
  transform: rotate(-4.7deg);
  transform-origin: 0 0;
}
.brand,
.introduction {
  position: absolute;
  top: 0;
  left: calc(50% - 582.5px);
  width: 735px;
  height: 379px;
  font-size: 50px;
}
.introduction {
  top: 126px;
  left: calc(50% - 566px);
  width: 1165px;
  height: 467px;
  text-align: center;
  font-size: 22px;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 6px 22px -3px rgba(0, 0, 0, 0.1);
  background-color: #210b2e;
  height: 93px;
}
.contact2,
.introduction1,
.work-experience1 {
  position: absolute;
  top: 0;
  right: 0;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 22.2px;
  cursor: pointer;
}
.introduction1,
.work-experience1 {
  right: 444px;
  width: 135px;
}
.work-experience1 {
  right: 179px;
  width: 174px;
}
.navigations {
  position: absolute;
  top: 35%;
  right: 5%;
  width: 579px;
  height: 22.2px;
}
.heading,
.logo-icon1 {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 50px;
  height: 32.1px;
}
.heading {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--font-plus-jakarta-sans);
}
body {
  margin: 0;
  padding: 0;
  background-color: #16071f;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-preahvihear);
  padding: 0;
  margin: 0;
}